<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lot Size Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">

        <h1>Lot Size Calculator<br> With <br>Comission Intergration</h1><br>

        <form method="POST" action="/calculate">

            <label for="risk_amount">Risk Amount in Dollars:</label>
            <input placeholder="e.g 100" type="text" id="risk_amount" name="risk_amount" required>
            
            
            <label for="commission_per_lot">Broker's Commission per Lot (in Dollars):</label>
            <input placeholder="e.g 5, Input '0' to neglect" type="text" id="commission_per_lot" name="commission_per_lot" required>
            
            <label for="sl_size">SL Size (in Pips):</label>
            <input placeholder="e.g. 5" type="text" id="sl_size" name="sl_size" required>

            {% if lot_size is not none %}
            <div class="result-box">
            Calculated Lot Size: {{ lot_size }}
         </div>
         {% endif %}

            <button type="submit">Calculate Lot Size</button>
        </form>
        
        
    </div>
</body>
</html>
